﻿@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

:root {
    --background-color: rgb(25, 25, 25);
}

* {
    font-family: 'Comic Neue', cursive;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:link {
    color:white;
    text-decoration: none;
}
body {
    background-color: var(--background-color);
    color: white;
}
button {
    font-size: 2vw; /* Adjust the font size based on viewport width */
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
}
.navbarlogo {
    position: relative;
    height: 5.5vw; /* Adjust the height based on viewport width */
    border-radius: 5px;
    transition: all .25s;
    margin: 0 0.5vw;
}
@media(min-width:768) {
	.navbarlogo{
		width: 10px;
		height: 10px;
	}
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 2vw;
}
nav button {
    position: relative;
    color: white;
    outline: 3px solid --background-color;
    border-radius: 25px;
	height:5.5vw;
    width: 10vw;
    transition: all .5s;
    bottom: 0;
    margin: 0 0.5vw; /* Adjust the margin based on viewport width */
}
nav button:hover {
    outline-color: var(--background-color);
    background-color: white;
    color: black;
    border-radius: 20px;
}
.social-icons {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 2.5vw auto; /* Adjust the margin based on viewport width */
    transition: all .5s;
    width: 15vw; /* Adjust the width based on viewport width */
    height: 15vw; /* Adjust the height based on viewport width */
}
.social-icons:hover {
    transform: scale(1.2);
}
.panel {
    background-size: cover;
    padding: 2vw; /* Adjust the padding based on viewport width */
    color: white;
    text-align: center;
    border: 3px solid white;
    border-radius: 5vw; /* Adjust the border radius based on viewport width */
    width:25vw;
    transition: all .5s;
    margin: 4vh 3vw;
}
.panel:hover {
    transform: scale(1.05);
}
.background {

	background: linear-gradient(to right, rgba(0,0,0, 1), rgba(0,0,0, .125)), url('https://cdn.discordapp.com/attachments/1031364387329552464/1145175927278547034/cancrilogo.jpg');
	background-size: cover;
	height: 25vh;
	width:25vh;
}
#about-me {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1vh 50px;
    margin-left: 55vw;
    width: 30vw;
    z-index: 2;
    outline:3px dashed rgba(255,255,255,.25);
    outline-style: double;
}